
body{
    height: 100%;
    width:100%;
}


body{
    background-image: url("https://bit.ly/2BHijn4");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-size: 30px;
}
h1{
    padding-top: 25px;
    font-size: 25px;
    display: flex;
    justify-content: center;
}
.container{
    margin:auto;
    width:70%;
}
.day-input{
    height: 30px;
    width: 60px;
    box-shadow :2em 2em solid black;
}
.month-input{
    height: 30px;
    width: 60px;
    box-shadow :2em 2em solid black;
}
.year-input{
    height: 30px;
    width: 60px;
    box-shadow :2em 2em solid black;
}
#get-name{
    box-shadow: 2em 2em solid black;
    font-size: 20px;
    height: 3em;
    width: 20px;
    text-align: center;
    color: olivedrab;
    border-radius: 15px;
    border: 2em 2em solid black;
    background-color: purple;
}
#results{
    text-align: center;
}

.reseach{
    text-decoration: underline;
    color: aqua;
}
.jumbotron{
    border-radius: 1em;
    background-color:whitesmoke;
}