
body{
    height: 100%;
    width:100%;
}


body{
    background-image: url("https://bit.ly/2BHijn4");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-size: 30px;
}
h1{
    padding-top: 25px;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

#submit {
    display:block;
}


#get-name{
    box-shadow: 2em 2em solid black;
    font-size: 20px;
    height: 3em;
    width: 20px;
    text-align: center;
    color: olivedrab;
    border-radius: 15px;
    border: 2em 2em solid black;
    background-color: purple;
}
#results{
    text-align: center;
}

.reseach{
    text-decoration: underline;
    color: aqua;
}
.jumbotron{
    border-radius: 0.5em;
    background-color:greenyellow;
    width:100%;
}

/*formating form control  */
form{
    width:80%;
    margin:0 auto;
}
input[type="number"],input[type="text"] {
    display:block;
    width:100%;
}