
body{
    background-image: url("https://bit.ly/2BHijn4");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-size: 24px;
    color: white;
}
h1{
    padding-top: 30px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    color: white;
}

#submit {
    display:block;
}


#get-name{
    box-shadow: 3em 3em solid black;
    font-size: 20px;
    height: 4em;
    width: 40px;
    text-align: center;
    color: lightblue;
    border-radius: 15px;
    border: 2em 2em solid black;
    background-color: lightblue;
    padding-left: 30px;
}
#results{
    text-align: center;
}

.reseach{
    text-decoration: underline;
    color: aqua;
}
.jumbotron{
    border-radius: 1.5em;
    background-color:teal;
    width:100%;
    
}

/*formating form control  */
form{
    width:15%;
    margin:0 auto;
}
input[type="number"],input[type="text"] {
    display:block;
    width:100%;
    height: 30px;
    font-size: 18px;
    border-radius: 0.5em;
}


.para{
    text-align: center;
    color: white;
}
#display{
    display: flex;
    justify-content: center;
    
}